{% extends "adminLayout.html" %}
{% block title %}Productos{% endblock %}
{% block main %}
    <!-- Car Picker Module-->
    <script src="{{ url_for('static', filename='carPicker.js') }}"></script>
    <!--Products Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            Productos
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 bg-white p-4 mb-5 aag-shadow">
        <!--Products Body-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-5 mt-3">
                        <h5>Buscar un producto:</h5>
                        <form action="{{ url_for('adminProducts') }}" method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" name="query"
                                       placeholder="Entre un producto para buscar...">
                                <span class="input-group-btn">
                                    <input type="hidden" name="_method" value="SEARCH">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </span>
                            </div>
                        </form>
                    </div>
                    <!--Display products in the system-->
                    <div class="col-lg-12 mt-5">
                        <h5>Productos</h5>
                        <table class="table table-responsive-md table-striped">
                            <thead>
                            <tr>
                                <th scope="col">PID</th>
                                <th scope="col">Título/Nombre</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in products %}
                                <tr>
                                    <th scope="row"><a
                                            href="{{ url_for('adminProducts') }}/{{ item['pid'] }}">{{ item['pid'] }}</a>
                                    </th>
                                    <td>{{ item['pname'] }}</td>
                                    <td>${{ item['pprice'] }}</td>
                                    <td>{{ item['pbrand'] }}</td>
                                    <td>{{ item['pcategory'] }}</td>
                                    <td>{{ item['qty'] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12 mt-2 aag-border-bottom"></div>
                <div class="col-lg-12 mt-3">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#addProductArea" aria-expanded="true"
                            aria-controls="addProductArea">Añadir un nuevo producto
                    </button>
                </div>
                <div class="col-lg-12 mt-3">
                    <div class="collapse multi-collapse" id="addProductArea">
                        <div class="card card-body">
                            <form enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <label for="photo">Añadir una imágen</label>
                                    <input type="file" name="file" class="form-control-file" id="photo">
                                </div>
                                <div class="form-group">
                                    <label for="product-name">ID para el producto</label>
                                    <input type="text" class="form-control" name="pid" id="product-ID"
                                           placeholder="PID"
                                           oninvalid="this.setCustomValidity('Entre un ID para el producto (ej. SKU, UPC, Número de modelo).')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="product-name">Título / Nombre</label>
                                    <input type="text" class="form-control" name="pname" id="product-name"
                                           placeholder="Título / Nombre"
                                           oninvalid="this.setCustomValidity('El producto debe tener un nombre o título.')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="brand">Marca</label>
                                    <input type="text" class="form-control" name="pbrand" id="brand"
                                           placeholder="Marca"
                                           oninvalid="this.setCustomValidity('El producto debe tener un valor para la marca.')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="price">Precio</label>
                                    <input type="number" min="0.00" step="0.01" class="form-control" name="pprice"
                                           id="price"
                                           placeholder="Precio"
                                           oninvalid="this.setCustomValidity('Entre un precio para el producto.')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="shipping">Envío</label>
                                    <input type="number" min="0.00" step="0.01" class="form-control" name="pshipping"
                                           id="shipping"
                                           placeholder="Costo de envío"
                                           oninvalid="this.setCustomValidity('Entre el valor para el manejo y envío del producto.')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="qty">Cantidad</label>
                                    <input type="number" min="0" class="form-control" name="qty" id="qty"
                                           placeholder="Cantidad"
                                           oninvalid="this.setCustomValidity('Entre la cantidad disponible para vender.')"
                                           oninput="setCustomValidity('')" required>
                                </div>
                                <div class="form-group">
                                    <label for="store">Tienda</label>
                                    <select id="inputState" name="store" class="form-control">
                                        <option value="Caguas" selected="">Caguas</option>
                                        <option value="Bayamón">Bayamon</option>
                                        <option value="Guaynabo">Guaynabo</option>
                                        <option value="Río Piedras">Río Piedras</option>
                                    </select>
                                </div>
                                <!--DE AQUI-->
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Año de vehículo</label>
                                    <select class="form-control" name="cyear" id="year"
                                            oninvalid="this.setCustomValidity('Especifíque el año del vehículo.')"
                                            oninput="setCustomValidity('')" required>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                        <option value="2009">2009</option>
                                        <option value="2008">2008</option>
                                        <option value="2007">2007</option>
                                        <option value="2006">2006</option>
                                        <option value="2005">2005</option>
                                        <option value="2004">2004</option>
                                        <option value="2003">2003</option>
                                        <option value="2002">2002</option>
                                        <option value="2001">2001</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                        <option value="1996">1996</option>
                                        <option value="1995">1995</option>
                                        <option value="1994">1994</option>
                                        <option value="1993">1993</option>
                                        <option value="1992">1992</option>
                                        <option value="1991">1991</option>
                                        <option value="1990">1990</option>
                                        <option value="1989">1989</option>
                                        <option value="1988">1988</option>
                                        <option value="1987">1987</option>
                                        <option value="1986">1986</option>
                                        <option value="1985">1985</option>
                                        <option value="1984">1984</option>
                                        <option value="1983">1983</option>
                                        <option value="1982">1982</option>
                                        <option value="1981">1981</option>
                                        <option value="1980">1980</option>
                                        <option value="1979">1979</option>
                                        <option value="1978">1978</option>
                                        <option value="1977">1977</option>
                                        <option value="1976">1976</option>
                                        <option value="1975">1975</option>
                                        <option value="1974">1974</option>
                                        <option value="1973">1973</option>
                                        <option value="1972">1972</option>
                                        <option value="1971">1971</option>
                                        <option value="1970">1970</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Marca de vehículo</label>
                                    <select class="form-control" name="cmake" id="formmake"
                                            oninvalid="this.setCustomValidity('Especifique la marca del vehículo.')"
                                            oninput="setCustomValidity('')" required>
                                        <option selected="selected">-Marca-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Modelo de vehículo</label>
                                    <select class="form-control" name="cmodel" id="formmodel"
                                            oninvalid="this.setCustomValidity('Especifique el modelo del vehículo.')"
                                            oninput="setCustomValidity('')" required>
                                        <option selected="selected">-Modelo-</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="qty">Motor</label>
                                    <input type="text" class="form-control" name="cmotor" id="cmotor"
                                           placeholder="Motor de vehículo">
                                </div>
                                <!--A AQUI-->
                                <div class="form-group">
                                    <label for="category">Categoría</label>
                                    <select id="inputState" name="category" class="form-control"
                                            oninvalid="this.setCustomValidity('Escoja una categoría para el producto.')"
                                            oninput="setCustomValidity('')" required>
                                        <option value="Compresores" selected>Compresores</option>
                                        <option value="Evaporadores">Evaporadores</option>
                                        <option value="Acumuladores">Acumuladores y secadores</option>
                                        <option value="Dispositivos de expansión">Dispositivos de expansión</option>
                                        <option value="Condensadores">Condensadores</option>
                                        <option value="Conjuntos de manguera">Conjuntos de manguera</option>
                                        <option value="Componentes eléctricos">Componentes eléctricos</option>
                                        <option value="Poleas">Poleas</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="active">Destacado</label>
                                    <select id="inputState" name="featured" class="form-control">
                                        <option value="no" selected>No (Producto aparecerá sólo en el catálogo)</option>
                                        <option value="yes">Sí (Producto aparecerá en página principal y en el
                                            catálogo)
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control" name="description" id="description"
                                              rows="3"
                                              oninvalid="this.setCustomValidity('Describa brevemente el producto.')"
                                              oninput="setCustomValidity('')" required></textarea>
                                </div>
                                <input type="hidden" name="_method" value="ADD_PRODUCT">
                                <button class="btn btn-primary">Añadir producto</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}