{% extends "adminlayout.html" %}
{% block title %}Productos{% endblock %}
{% block main %}
    <!--Products Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            Productos
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <!--Products Body-->
        <div class="col-lg-12">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                   aria-expanded="true" aria-controls="multiCollapseExample1">Buscar / Ver Productos</a>
                <button class="btn btn-warning" type="button" data-toggle="collapse"
                        data-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">Añadir un nuevo producto
                </button>
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="col-lg-5 mt-4">
                            <h5>Buscar un producto:</h5>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Entre un producto para buscar...">
                                <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">Buscar</button>
                                    </span>
                            </div>
                        </div>
                        <!--Display products in the system-->
                        <div class="col-lg-12 mt-5">
                            <h5>Productos</h5>
                            <table class="table table-responsive-md table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">PID</th>
                                    <th scope="col">Título/Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Categoría</th>
                                    <th scope="col">Cantidad</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in products %}
                                    <tr>
                                        <th scope="row"><a
                                                href="{{ url_for('adminProducts') }}/{{ item['pid'] }}">{{ item['pid'] }}</a>
                                        </th>
                                        <td>{{ item['pname'] }}</td>
                                        <td>${{ item['pprice'] }}</td>
                                        <td>{{ item['pbrand'] }}</td>
                                        <td>{{ item['pcategory'] }}</td>
                                        <td>{{ item['qty'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body">
                            <form enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <label for="photo">Añadir una imágen</label>
                                    <input type="file" name="file" class="form-control-file" id="photo">
                                </div>
                                <div class="form-group">
                                    <label for="product-name">ID para el producto</label>
                                    <input type="text" class="form-control" name="pid" id="product-ID"
                                           placeholder="PID">
                                </div>
                                <div class="form-group">
                                    <label for="product-name">Título / Nombre</label>
                                    <input type="text" class="form-control" name="pname" id="product-name"
                                           placeholder="Título / Nombre">
                                </div>
                                <div class="form-group">
                                    <label for="brand">Marca</label>
                                    <input type="text" class="form-control" name="pbrand" id="brand"
                                           placeholder="Marca">
                                </div>
                                <div class="form-group">
                                    <label for="price">Precio</label>
                                    <input type="text" class="form-control" name="pprice" id="price"
                                           placeholder="Precio">
                                </div>
                                <div class="form-group">
                                    <label for="shipping">Envío</label>
                                    <input type="text" class="form-control" name="pshipping" id="shipping"
                                           placeholder="Costo de envío">
                                </div>
                                <div class="form-group">
                                    <label for="qty">Cantidad</label>
                                    <input type="text" class="form-control" name="qty" id="qty" placeholder="Cantidad">
                                </div>
                                <div class="form-group">
                                    <label for="store">Tienda</label>
                                    <select id="inputState" name="store" class="form-control">
                                        <option value="Caguas" selected="">Caguas</option>
                                        <option value="Bayamón">Bayamon</option>
                                        <option value="Guaynabo">Guaynabo</option>
                                        <option value="Río Piedras">Río Piedras</option>
                                    </select>
                                </div>
                                <!--DE AQUI-->
                                <div class="form-group">
                                    <label for="qty">Marca de vehículo</label>
                                    <input type="text" class="form-control" name="cmake" id="cmake"
                                           placeholder="Marca de vehículo">
                                </div>
                                <div class="form-group">
                                    <label for="qty">Modelo de vehículo</label>
                                    <input type="text" class="form-control" name="cmodel" id="cmodel"
                                           placeholder="Modelo de vehículo">
                                </div>
                                <div class="form-group">
                                    <label for="qty">Año del vehículo</label>
                                    <input type="text" class="form-control" name="cyear" id="cyear"
                                           placeholder="Año de vehículo">
                                </div>
                                <div class="form-group">
                                    <label for="qty">Motor</label>
                                    <input type="text" class="form-control" name="cmotor" id="cmotor"
                                           placeholder="Motor de vehículo">
                                </div>
                                <!--A AQUI-->
                                <div class="form-group">
                                    <label for="category">Categoría</label>
                                    <select id="inputState" name="category" class="form-control">
                                        <option value="Compresores" selected>Compresores</option>
                                        <option value="Evaporadores">Evaporadores</option>
                                        <option value="Acumuladores">Acumuladores y secadores</option>
                                        <option value="Dispositivos de expansión">Dispositivos de expansión</option>
                                        <option value="Condensadores">Condensadores</option>
                                        <option value="Conjuntos de manguera">Conjuntos de manguera</option>
                                        <option value="Componentes eléctricos">Componentes eléctricos</option>
                                        <option value="Poleas">Poleas</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="active">Destacado</label>
                                    <select id="inputState" name="featured" class="form-control">
                                        <option value="no" selected>No (Producto aparecerá sólo en el catálogo)</option>
                                        <option value="yes">Sí (Producto aparecerá en página principal y en el
                                            catálogo)
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Descripción</label>
                                    <textarea class="form-control" name="description" id="description"
                                              rows="3"></textarea>
                                </div>
                                <input type="hidden" name="_method" value="ADD_PRODUCT">
                                <button class="btn btn-primary">Añadir producto</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}