{% extends "adminlayout.html" %}
{% block title %}Staff Accounts{% endblock %}
{% block main %}
    <!--Featured Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            Staff Accounts
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-md">
            <h5 class="aag-border-bottom">Add an Employee</h5>
            <div class="card card-body">
                <form>
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="eid">Employee ID (EID)</label>
                        <input type="text" class="form-control" id="eid" placeholder="EID">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                        <small class="text-muted">This will also be the employee username.</small>
                    </div>
                    <div class="form-group">
                        <label for="store">Store</label>
                        <select id="inputState" class="form-control">
                            <option selected>Caguas</option>
                            <option>Bayamon</option>
                            <option>Guaynabo</option>
                            <option>Río Piedras</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="is-admin">Make an Administrator</label>
                        <select id="inputState" class="form-control">
                            <option selected>No</option>
                            <option>Yes</option>
                        </select>
                        <small class="text-muted">An administrator can add or delete staff, change staff roles, and edit
                            tax configurations.
                        </small>
                    </div>
                    <button class="btn btn-primary">Add Employee</button>
                </form>
            </div>
        </div>
        <div class="col-md">
            <h5 class="aag-border-bottom">Employee Search</h5>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter an employee to search...">
                <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Search</button>
                    </span>
            </div>
            <div class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">Employee ID (EID)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">Employee Name</label>
            </div>
            <p class="justify-content-center col-12 mt-3 pb-3 aag-border-bottom">
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseDelete"
                        aria-expanded="false"
                        aria-controls="collapseDelete">
                    Delete Employee
                </button>
            </p>
            <div class="collapse mt-3 p-3 aag-bg-gray1" id="collapseDelete">
                <h5 class="aag-border-bottom">Delete Employee</h5>
                <div class="alert alert-danger" role="alert">
                    <strong>Warning!</strong>
                    <span>Using this form will permanently remove an employee from the system.</span>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="EID of employee to remove...">
                    <button class="btn btn-danger">Delete Employee</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <h5>Employees</h5>
            <table class="table table-responsive-md table-striped">
                <thead>
                <tr>
                    <th scope="col">EID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Store</th>
                    <th scope="col">Make Admin</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Javier</td>
                    <td>Bardem</td>
                    <td>jb@autoairgroup.net</td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option selected>Caguas</option>
                            <option>Bayamon</option>
                            <option>Guaynabo</option>
                            <option>Río Piedras</option>
                        </select>
                    </td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option selected>No</option>
                            <option>Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>María</td>
                    <td>Lugo</td>
                    <td>ml@autoairgroup.net</td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option>Caguas</option>
                            <option selected>Bayamon</option>
                            <option>Guaynabo</option>
                            <option>Río Piedras</option>
                        </select>
                    </td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option>No</option>
                            <option selected>Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>John</td>
                    <td>Smith</td>
                    <td>js@autoairgroup.net</td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option>Caguas</option>
                            <option>Bayamon</option>
                            <option selected>Guaynabo</option>
                            <option>Río Piedras</option>
                        </select>
                    </td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option selected>No</option>
                            <option>Yes</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Elena</td>
                    <td>Hernández</td>
                    <td>eh@autoairgroup.net</td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option>Caguas</option>
                            <option>Bayamon</option>
                            <option>Guaynabo</option>
                            <option selected>Río Piedras</option>
                        </select>
                    </td>
                    <td>
                        <select id="inputState" class="form-control">
                            <option selected>No</option>
                            <option>Yes</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <button class="btn btn-primary">Update Employee Roles</button>
            </div>
        </div>
    </div>
{% endblock %}