{% if staffStatus == 'not_admin' %}
    {% extends "stafflayout.html" %}
{% else %}
    {% extends "adminLayout.html" %}
{% endif %}
{% block title %}Dashboard{% endblock %}
{% block main %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Estatus', 'Cantidad de compras'],
                ['Completadas', {{ complete  }}],
                ['Pendientes', {{ pending }}],
                ['Canceladas', {{ canceled }}]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'width': 393, 'height': 300};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
    <!--Featured Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            Dashboard
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 mb-5 bg-white p-4 aag-shadow">
        <div class="col-lg-12">
            <h5>Recent Orders</h5>
            <table class="table table-responsive-md table-striped">
                <thead>
                <tr>
                    <th scope="col">No. Orden</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Total</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Envío</th>
                    <th scope="col">Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for item in orders %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('adminOrders') }}/{{ item['orderid'] }}">{{ item['orderid'] }}</a></th>
                        <td>{{ item['ufirst'] }} {{ item['ulast'] }}</td>
                        <td>{{ item['uphone'] }}</td>
                        <td>${{ item['grand_total'] }}</td>
                        {% if item['payment_status'] == 'complete' %}
                            <td>Completado</td>
                        {% elif item['payment_status'] == 'pending' %}
                            <td>Pendiente</td>
                        {% elif item['payment_status'] == 'canceled' %}
                            <td>Cancelado</td>
                        {% endif %}
                        {% if item['shipping'] == 'shipped' %}
                            <td>Enviado</td>
                        {% elif item['shipping'] == 'not_shipped' %}
                            <td>No enviado</td>
                        {% endif %}
                        <td>{{ item['date'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md mt-5">
            <h5 class="aag-border-bottom">Estadísticas de compras</h5>
            <div id="piechart"></div>
            <span class="text-muted"><small>La gráfica se genera de haber al menos una orden.</small></span>
        </div>
        <div class="col-md mt-5">
            <h5 class="aag-border-bottom">Información</h5>
            <span>Other information can be placed here.</span>
        </div>
    </div>
{% endblock %}