{% if staffStatus == 'not_admin' %}
    {% extends "stafflayout.html" %}
{% else %}
    {% extends "adminlayout.html" %}
{% endif %}
{% block title %}Orders{% endblock %}
{% block main %}
    <!--Featured Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            View Orders
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 mb-5 bg-white p-4 aag-shadow">
        <div class="col-md">
            <h5 class="aag-border-bottom">Resumen de Ordenes</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">Completadas:
                    <span><strong>{{ complete }}</strong></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Pendientes:
                    <span><strong>{{ pending }}</strong></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Sin Enviar:
                    <span><strong>{{ unshipped }}</strong></span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center">Canceladas:
                    <span><strong>{{ canceled }}</strong></span></li>
            </ul>
        </div>
        <div class="col-md">
            <h5 class="aag-border-bottom">Buscar Orden</h5>
            {% if searchMessage == 'invalid_phone' %}
                <div class="alert alert-danger" role="alert">
                    No se encontraron ordenes con ese teléfono o el campo está vacío.
                </div>
            {% endif %}
            <div class="input-group">
                <form action="{{ url_for('adminOrders') }}" method="POST">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control" name="orderQuery"
                                   placeholder="Entre una orden a buscar...">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input" type="radio" name="_method" id="inlineRadio1"
                                   value="OID" checked="checked">
                            <label class="form-check-label" for="inlineRadio1">Número de orden</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="_method" id="inlineRadio2"
                                   value="FIND_PHONE">
                            <label class="form-check-label" for="inlineRadio2">Teléfono de cliente</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <h5>Orders</h5>
            <table class="table table-responsive-md table-striped">
                <thead>
                <tr>
                    <th scope="col">No. de Orden</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Total</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Estatus de envío</th>
                    <th scope="col">Fecha</th>
                </tr>
                </thead>
                <tbody>
                {% for item in orders %}
                    <tr>
                        <th scope="row"><a
                                href="{{ url_for('adminOrders') }}/{{ item['orderid'] }}">{{ item['orderid'] }}</a></th>
                        <td>{{ item['ufirst'] }} {{ item['ulast'] }}</td>
                        <td>{{ item['uphone'] }}</td>
                        <td>{{ item['total'] }}</td>
                        {% if item['payment_status'] == 'complete' %}
                            <td>Completado</td>
                        {% elif item['payment_status'] == 'pending' %}
                            <td>Pendiente</td>
                        {% elif item['payment_status'] == 'canceled' %}
                            <td>Cancelado</td>
                        {% endif %}
                        {% if item['shipping'] == 'shipped' %}
                            <td>Enviado</td>
                        {% elif item['shipping'] == 'not_shipped' %}
                            <td>No enviado</td>
                        {% endif %}
                        <td>{{ item['date'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}