{% extends "adminLayout.html" %}
{% block title %}Cuentas de empleados{% endblock %}
{% block main %}
    <!--Featured Section-->
    <div class="row mt-3 mb-3">
        <h3 class="font-weight-bold">
            Cuentas de empleados
        </h3>
    </div>
    <!--Dashboard Main Info Box-->
    <div class="row mt-3 mb-5 bg-white p-4 aag-shadow">
        <div class="col-md">
            <h5 class="aag-border-bottom">Añadir Empleado</h5>
            {% if addSuccess == 'invalid_form' %}
                <div class="col alert-danger pt-3 pb-3">
                    <span><strong>Error:</strong> No pueden haber campos vacíos.</span>
                </div>
            {% elif addSuccess == 'staff_exists' %}
                <div class="col alert-danger pt-3 pb-3">
                    <span><strong>Error:</strong> Ya hay un empleado con ese ID.</span>
                </div>
            {% elif addSuccess == 'staff_created' %}
                <div class="col alert-primary pt-3 pb-3">
                    <h5>Se añadió un nuevo empleado al sistema.</h5>
                </div>
            {% endif %}
            <div class="card card-body">
                <form action="{{ url_for('adminStaff') }}" method="post">
                    <div class="form-group">
                        <label for="first-name">Nombre</label>
                        <input type="text" class="form-control" name="first_name" id="first-name" placeholder="Nombre" oninvalid="this.setCustomValidity('Entre el nombre del empleado.')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Apellido</label>
                        <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Apellido" oninvalid="this.setCustomValidity('Entre el apellido del empleado')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="form-group">
                        <label for="eid">ID de Empleado (EID)</label>
                        <input type="text" class="form-control" name="eid" id="eid" placeholder="EID" oninvalid="this.setCustomValidity('Entre un EID para el empleado.')" oninput="setCustomValidity('')" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" oninvalid="this.setCustomValidity('Entre un correo electrónico para el empleado.')" oninput="setCustomValidity('')" required>
                        <small class="text-muted">Esto será el nombre de usuario del empleado.</small>
                    </div>
                    <div class="form-group">
                        <label for="store">Store</label>
                        <select id="inputState" name="store" class="form-control">
                            <option value="Caguas" selected>Caguas</option>
                            <option value="Bayamón">Bayamon</option>
                            <option value="Guaynabo">Guaynabo</option>
                            <option value="Río Piedras">Río Piedras</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="is-admin">Hacer administrador</label>
                        <input type="hidden" name="_method" value="ADD">
                        <select id="inputState" name="admin" class="form-control">
                            <option value="False" selected>No</option>
                            <option value="True">Si</option>
                        </select>
                        <small class="text-muted">Un administrador puede añadir o borrar empleados, cambiar el rol y
                            editar el porciento de impuestos (IVU).
                        </small>
                    </div>
                    <button class="btn btn-primary">Añadir Empleado</button>
                </form>
            </div>
        </div>
        <div class="col-md">
            <h5 class="aag-border-bottom">Buscar Empleado</h5>
            {% if message=='invalid_eid' or message=='invalid_email' %}
                <div class="col alert-danger pt-3 pb-3">
                    <h5>Error: El campo está vacío o no se entró un dato válido.</h5>
                </div>
            {% elif message=='no_staff' %}
                <div class="col alert-danger pt-3 pb-3">
                    <h5>Error: No se encontró el empleado en el sistema.</h5>
                </div>
            {% endif %}
            <form action="{{ url_for('adminStaff') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="eid" placeholder="Entre el ID del empleado a buscar" oninvalid="this.setCustomValidity('Se requiere el id del empleado para poder realizar una busqueda.')" oninput="setCustomValidity('')" required>
                    <input type="hidden" name="_method" value="SEARCH">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
                {#                <div class="form-check form-check-inline mt-2">#}
                {#                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"#}
                {#                           value="option1">#}
                {#                    <label class="form-check-label" for="inlineRadio1">ID del Empleado (EID)</label>#}
                {#                </div>#}
                {#                <div class="form-check form-check-inline">#}
                {#                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"#}
                {#                           value="option2">#}
                {#                    <label class="form-check-label" for="inlineRadio2">Nombre del Empleado</label>#}
                {#                </div>#}
            </form>
        <p class="col-12 mt-5">Utiliza el botón de abajo para proceder a remover un empleado del sistema. Puede remover empleados regulares y administradores.</p>
            <p class="justify-content-center col-12 mt-1 pb-3 aag-border-bottom">
                <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseDelete"
                        aria-expanded="false"
                        aria-controls="collapseDelete">
                    Borrar Empleado
                </button>
            </p>
            {% if deleteStatus=='delete_error' %}
                <div class="col alert-danger pt-3 pb-3">
                    <h5>Error: No se pudo borrar el empleado ya que no se encontró en el sistema.</h5>
                </div>
            {% elif deleteStatus=='staff_deleted' %}
                <div class="col alert-info pt-3 pb-3">
                    <h5>El empleado fue borrado con éxito.</h5>
                </div>
            {% endif %}
            <div class="collapse mt-3 p-3 aag-bg-gray1" id="collapseDelete">
                <h5 class="aag-border-bottom">Borrar Empleado</h5>
                <div class="alert alert-danger" role="alert">
                    <strong>Advertencia!</strong>
                    <span>Este formulario eliminará el empleado completamente del sistema.</span>
                </div>
                <form action="{{ url_for('adminStaff') }}" method="post">
                    <div class="input-group">
                        <input type="text" name="eid" class="form-control" placeholder="EID del empleado a remover..." oninvalid="this.setCustomValidity('El EID del empleado no puede estar vacío.')" oninput="setCustomValidity('')" required>
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger">Borrar Empleado</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 mt-5">
            <h5>Empleados</h5>
            <table class="table table-responsive-md table-striped">
                <thead>
                <tr>
                    <th scope="col">EID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tienda</th>
                    <th scope="col">Administrador</th>
                </tr>
                </thead>
                <tbody>
                {% for item in staff %}
                    <tr>
                        <th scope="row"><a href="{{ url_for('adminStaff') }}/{{ item['eid'] }}">{{ item['eid'] }}</a></th>
                        <td>{{ item['staff_fname'] }} {{ item['staff_lname'] }}</td>
                        <td>{{ item['staff_email'] }}</td>
                        <td>{{ item['staff_store'] }}</td>
                        {% if item['admin'] %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}