{% extends "layout.html" %}
{% block title %}Carrito{% endblock %}
{% block main %}
    <!--Search Box Advanced-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-md-12 aag-border-bottom">
            <h4>Carrito</h4>
        </div>
        <!--Car year selection-->
        <div class="col-md">
            <h3 class="text-center">¡Su carrito está vacío, <a href="{{ url_for('catalog') }}">pulse aqui para comenzar
                a comprar!</a></h3>
        </div>
    </div>
{% endblock %}