{% extends "layout.html" %}
{% block title %}Carrito{% endblock %}
{% block main %}
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Mi carrito</span>
                <span class="badge badge-secondary badge-pill">{{ allQty }}</span>
            </h4>
            {% if error %}
                <div class="alert alert-danger">Un producto en su carrito fue removido ya que la cantidad elegida no
                    está en inventario.
                </div>
            {% endif %}
            <ul class="list-group mb-3">
                {% for items in products %}
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0"><a href="product/{{ items['pid'] }}">{{ items['pname'] }}</a></h6>
                            <small class="text-muted">Cantidad: {{ items['qty'] }} (${{ items['unit_price'] }}/c.u.)
                            </small>
                            <br/>
                            <p>
                                <a data-toggle="collapse" href="#collapse{{ items['pid'] }}" role="button"
                                   aria-expanded="false" aria-controls="collapseExample">
                                    <small>Modificar Carrito</small>
                                </a>
                            </p>
                            <div class="collapse" id="collapse{{ items['pid'] }}">
                                <form action="{{ url_for('cartAdd') }}" method="POST">
                                    <input type="hidden" name="_cartPid" value="{{ items['pid'] }}">
                                    <input type="number" min="0" max="200" step="1" style="width: 65px" name="qty"
                                           value="{{ items['qty'] }}">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </form>
                            </div>
                        </div>
                        <span class="text-muted">${{ items['unit_total'] }}</span>
                    </li>
                {% endfor %}
            </ul>
            <div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center text-muted">Subtotal:
                        <span><strong>${{ total }}</strong></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-muted">IVU:
                        <span><strong>${{ taxed }}</strong></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-muted">Envío:
                        <span><strong>${{ shipping }}</strong></span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center text-muted"><strong>Total:</strong>
                        <span><strong>${{ grandTotal }}</strong></span></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Dirección</h4>
            {% if not user == None %}
                <form action="{{ url_for('processOrder') }}" method="POST" class="needs-validation">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nombre</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" name="ufirst"
                                   value="{{ user['user_fname'] }}"
                                   oninvalid="this.setCustomValidity('Entre su nombre.')"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Apellido</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" name="ulast"
                                   value="{{ user['user_lname'] }}"
                                   oninvalid="this.setCustomValidity('Entre su apellido.')"
                                   oninput="setCustomValidity('')" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="{{ user['user_email'] }}"
                               name="uemail" placeholder="Correo electrónico"
                               oninvalid="this.setCustomValidity('Entre su correo electrónico.')"
                               oninput="setCustomValidity('')" required readonly>
                    </div>

                    <div class="mb-3">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" id="phone" name="uphone" placeholder="Teléfono"
                               oninvalid="this.setCustomValidity('Entre su número telefónico.')"
                               oninput="setCustomValidity('')" required>
                    </div>

                    <div class="mb-3">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address1" name="address1"
                               placeholder="Dirección, línea 1"
                               oninvalid="this.setCustomValidity('Entre su dirección.')"
                               oninput="setCustomValidity('')" value="{{ user['user_address']['address1'] }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" id="address2"
                               value="{{ user['user_address']['address2'] }}" name="address2"
                               placeholder="Dirección, línea 2">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">País</label>
                            <select class="custom-select d-block w-100" id="country" name="country" readonly>
                                <option value="Puerto Rico">Puerto Rico</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">Ciudad</label>
                            <select class="custom-select d-block w-100" name="city" id="state"
                                    oninvalid="this.setCustomValidity('Seleccione su municipio.')"
                                    oninput="setCustomValidity('')" required>
                                <option value="">Choose...</option>
                                <option value="{{ user['user_address']['city'] }}"
                                        selected>{{ user['user_address']['city'] }}</option>
                                <option value="Adjuntas">Adjuntas</option>
                                <option value="Aguada">Aguada</option>
                                <option value="Aguadilla">Aguadilla</option>
                                <option value="Aguas Buena">Aguas Buenas</option>
                                <option value="Aibonito">Aibonito</option>
                                <option value="Añasco">Añasco</option>
                                <option value="Arecibo">Arecibo</option>
                                <option value="Arroyo">Arroyo</option>
                                <option value="Barceloneta">Barceloneta</option>
                                <option value="Barranquitas">Barranquitas</option>
                                <option value="Bayamón">Bayamón</option>
                                <option value="Cabo Rojo">Cabo Rojo</option>
                                <option value="Caguas">Caguas</option>
                                <option value="Camuy">Camuy</option>
                                <option value="Canóvanas">Canóvanas</option>
                                <option value="Carolina">Carolina</option>
                                <option value="Cataño">Cataño</option>
                                <option value="Cayey">Cayey</option>
                                <option value="Ceiba">Ceiba</option>
                                <option value="Ciales">Ciales</option>
                                <option value="Cidra">Cidra</option>
                                <option value="Coamo">Coamo</option>
                                <option value="Comerío">Comerío</option>
                                <option value="Corozal">Corozal</option>
                                <option value="Culebra">Culebra</option>
                                <option value="Dorado">Dorado</option>
                                <option value="Fajardo">Fajardo</option>
                                <option value="Florida">Florida</option>
                                <option value="Guánica">Guánica</option>
                                <option value="Guayama">Guayama</option>
                                <option value="Guayanilla">Guayanilla</option>
                                <option value="Guaynabo">Guaynabo</option>
                                <option value="Gurabo">Gurabo</option>
                                <option value="Hatillo">Hatillo</option>
                                <option value="Hormigueros">Hormigueros</option>
                                <option value="Humacao">Humacao</option>
                                <option value="Isabela">Isabela</option>
                                <option value="Jayuya">Jayuya</option>
                                <option value="Juana">Juana Díaz</option>
                                <option value="Juncos">Juncos</option>
                                <option value="Lajas">Lajas</option>
                                <option value="Lares">Lares</option>
                                <option value="Las Marías">Las Marías</option>
                                <option value="Las Piedras">Las Piedras</option>
                                <option value="Loíza">Loíza</option>
                                <option value="Luquillo">Luquillo</option>
                                <option value="Manatí">Manatí</option>
                                <option value="Maricao">Maricao</option>
                                <option value="Maunabo">Maunabo</option>
                                <option value="Mayagüez">Mayagüez</option>
                                <option value="Moca">Moca</option>
                                <option value="Morovis">Morovis</option>
                                <option value="Naguabo">Naguabo</option>
                                <option value="Naranjito">Naranjito</option>
                                <option value="Orocovis">Orocovis</option>
                                <option value="Patillas">Patillas</option>
                                <option value="Peñuelas">Peñuelas</option>
                                <option value="Ponce">Ponce</option>
                                <option value="Quebradillas">Quebradillas</option>
                                <option value="Rincón">Rincón</option>
                                <option value="Río Grande">Río Grande</option>
                                <option value="Sabana Grande">Sabana Grande</option>
                                <option value="Salinas">Salinas</option>
                                <option value="San Germán">San Germán</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Lorenzo">San Lorenzo</option>
                                <option value="San Sebastián">San Sebastián</option>
                                <option value="Santa Isabel">Santa Isabel</option>
                                <option value="Toa Alta">Toa Alta</option>
                                <option value="Toa Baja">Toa Baja</option>
                                <option value="Trujillo Alto">Trujillo Alto</option>
                                <option value="Utuado">Utuado</option>
                                <option value="Vega Alta">Vega Alta</option>
                                <option value="Vega Baja">Vega Baja</option>
                                <option value="Vieques">Vieques</option>
                                <option value="Villalba">Villalba</option>
                                <option value="Yabucoa">Yabucoa</option>
                                <option value="Yauco">Yauco</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zipcode</label>
                            <input type="text" maxlength="5" minlength="5" class="form-control" id="zip"
                                   name="zipcode"
                                   placeholder="Código postal"
                                   oninvalid="this.setCustomValidity('Entre su código postal.')"
                                   oninput="setCustomValidity('')" value="{{ user['user_address']['zipcode'] }}"
                                   required>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <input type="hidden" name="_userStatus" value="_existingUser">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Completar pago</button>
                    <div class="mt-2">
                        <small>Al continuar, usted acepta los
                            <a href="{{ url_for('tos') }}" target="_blank">Términos de Servicio</a> y la <a
                                    href="{{ url_for('privacy') }}" target="_blank">Declaracíon de Privaciad</a></small>
                    </div>
                </form>
            {% else %}
                <!--Form for new users-->
                <form action="{{ url_for('processOrder') }}" method="POST" class="needs-validation">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nombre</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" name="ufirst"
                                   oninvalid="this.setCustomValidity('Entre su nombre.')"
                                   oninput="setCustomValidity('')" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Apellido</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" name="ulast"
                                   oninvalid="this.setCustomValidity('Entre su apellido.')"
                                   oninput="setCustomValidity('')" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="uemail"
                               placeholder="Correo electrónico"
                               oninvalid="this.setCustomValidity('Entre su correo electrónico.')"
                               oninput="setCustomValidity('')" required>
                    </div>

                    <div class="mb-3">
                        <label for="phone">Teléfono</label>
                        <input type="phone" class="form-control" id="phone" name="uphone" placeholder="Teléfono"
                               oninvalid="this.setCustomValidity('Entre su número telefónico.')"
                               oninput="setCustomValidity('')" required>
                    </div>

                    <div class="mb-3">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address1" name="address1"
                               placeholder="Dirección, línea 1"
                               oninvalid="this.setCustomValidity('Entre su dirección.')"
                               oninput="setCustomValidity('')" required>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                        <input type="text" class="form-control" id="address2"
                               name="address2"
                               placeholder="Dirección, línea 2">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">País</label>
                            <select class="custom-select d-block w-100" id="country" name="country" readonly>
                                <option value="Puerto Rico">Puerto Rico</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">Ciudad</label>
                            <select class="custom-select d-block w-100" name="city" id="state"
                                    oninvalid="this.setCustomValidity('Seleccione su municipio.')"
                                    oninput="setCustomValidity('')" required>
                                <option value="">Choose...</option>
                                <option value="Adjuntas">Adjuntas</option>
                                <option value="Aguada">Aguada</option>
                                <option value="Aguadilla">Aguadilla</option>
                                <option value="Aguas Buena">Aguas Buenas</option>
                                <option value="Aibonito">Aibonito</option>
                                <option value="Añasco">Añasco</option>
                                <option value="Arecibo">Arecibo</option>
                                <option value="Arroyo">Arroyo</option>
                                <option value="Barceloneta">Barceloneta</option>
                                <option value="Barranquitas">Barranquitas</option>
                                <option value="Bayamón">Bayamón</option>
                                <option value="Cabo Rojo">Cabo Rojo</option>
                                <option value="Caguas">Caguas</option>
                                <option value="Camuy">Camuy</option>
                                <option value="Canóvanas">Canóvanas</option>
                                <option value="Carolina">Carolina</option>
                                <option value="Cataño">Cataño</option>
                                <option value="Cayey">Cayey</option>
                                <option value="Ceiba">Ceiba</option>
                                <option value="Ciales">Ciales</option>
                                <option value="Cidra">Cidra</option>
                                <option value="Coamo">Coamo</option>
                                <option value="Comerío">Comerío</option>
                                <option value="Corozal">Corozal</option>
                                <option value="Culebra">Culebra</option>
                                <option value="Dorado">Dorado</option>
                                <option value="Fajardo">Fajardo</option>
                                <option value="Florida">Florida</option>
                                <option value="Guánica">Guánica</option>
                                <option value="Guayama">Guayama</option>
                                <option value="Guayanilla">Guayanilla</option>
                                <option value="Guaynabo">Guaynabo</option>
                                <option value="Gurabo">Gurabo</option>
                                <option value="Hatillo">Hatillo</option>
                                <option value="Hormigueros">Hormigueros</option>
                                <option value="Humacao">Humacao</option>
                                <option value="Isabela">Isabela</option>
                                <option value="Jayuya">Jayuya</option>
                                <option value="Juana">Juana Díaz</option>
                                <option value="Juncos">Juncos</option>
                                <option value="Lajas">Lajas</option>
                                <option value="Lares">Lares</option>
                                <option value="Las Marías">Las Marías</option>
                                <option value="Las Piedras">Las Piedras</option>
                                <option value="Loíza">Loíza</option>
                                <option value="Luquillo">Luquillo</option>
                                <option value="Manatí">Manatí</option>
                                <option value="Maricao">Maricao</option>
                                <option value="Maunabo">Maunabo</option>
                                <option value="Mayagüez">Mayagüez</option>
                                <option value="Moca">Moca</option>
                                <option value="Morovis">Morovis</option>
                                <option value="Naguabo">Naguabo</option>
                                <option value="Naranjito">Naranjito</option>
                                <option value="Orocovis">Orocovis</option>
                                <option value="Patillas">Patillas</option>
                                <option value="Peñuelas">Peñuelas</option>
                                <option value="Ponce">Ponce</option>
                                <option value="Quebradillas">Quebradillas</option>
                                <option value="Rincón">Rincón</option>
                                <option value="Río Grande">Río Grande</option>
                                <option value="Sabana Grande">Sabana Grande</option>
                                <option value="Salinas">Salinas</option>
                                <option value="San Germán">San Germán</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Lorenzo">San Lorenzo</option>
                                <option value="San Sebastián">San Sebastián</option>
                                <option value="Santa Isabel">Santa Isabel</option>
                                <option value="Toa Alta">Toa Alta</option>
                                <option value="Toa Baja">Toa Baja</option>
                                <option value="Trujillo Alto">Trujillo Alto</option>
                                <option value="Utuado">Utuado</option>
                                <option value="Vega Alta">Vega Alta</option>
                                <option value="Vega Baja">Vega Baja</option>
                                <option value="Vieques">Vieques</option>
                                <option value="Villalba">Villalba</option>
                                <option value="Yabucoa">Yabucoa</option>
                                <option value="Yauco">Yauco</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zipcode</label>
                            <input type="text" maxlength="5" minlength="5" class="form-control" id="zip"
                                   name="zipcode"
                                   placeholder="Código postal"
                                   oninvalid="this.setCustomValidity('Entre su código postal.')"
                                   oninput="setCustomValidity('')" required>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <input type="hidden" name="_userStatus" value="_newUser">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Completar pago</button>
                    <div class="mt-2">
                        <small>Al continuar, usted acepta los
                            <a href="{{ url_for('tos') }}" target="_blank">Términos de Servicio</a> y la <a
                                    href="{{ url_for('privacy') }}" target="_blank">Declaracíon de Privaciad</a></small>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}