{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block main %}
    <!--Additional Info Box-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-md aag-border-bottom">
            <h4>About Auto Air Group</h4>
        </div>
        <div class="col-lg-12">
            <img class="agg-max-width-card-img mb-3" src="{{ url_for('static', filename='img/LapAndLae.jpg') }}">
            <span>LAP and LAE Auto Air Group es una distribuidora de piezas para el aire acondicionado de su vehiculo o camión.
                    Contamos con localizaciones en:</br>
                </br>
                </span>
            <ul>
                <li>Bayamón</br>(787-288-3112)</li>
                <li>Caguas</br>(787-287-7100)</li>
                <li>Guaynabo</br>(787-720-7561)</li>
                <li>Río Piedras</br>(787-274-0760)</li>
            </ul>
        </div>
        <iframe width="600" height="450" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/search?q=LAE%20auto%20air%20group%20bayamon&key=..."
                allowfullscreen></iframe>
    </div>
{% endblock %}