<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='aag.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <title>{% block title %}{% endblock %} - Auto Air Group</title>
</head>

<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<div id="header" class="container-fluid">
    <!--Subheader-->
    <div class="row bg-white aag-border-bottom1">
        <div class="col pt-2 pb-2 d-none d-lg-block d-xl-block">
            <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
        </div>
        <div class="col pt-2 pb-2 mx-auto d-block d-sm-block d-md-block d-lg-none text-center">
            <img src="{{ url_for('static', filename='img/logo.png') }}">
        </div>
        <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col pt-2 pb-2"></div>
        <div class="col-3 pt-md-4 pb-2 d-none d-lg-block d-xl-block">
            <span class="col-md-3">
                <!--Account link-->
                {% if session['email'] %}
                    <a class="btn btn-primary" href="{{ url_for('accounts') }}">
                    <i class="material-icons">person</i>
                    <span>Mi Cuenta</span>
                </a>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('accounts') }}">
                    <i class="material-icons">person</i>
                    <span>Ingresar</span>
                </a>
                {% endif %}
                <!--Shopping cart link-->
                {% if session['cart'] %}
                    <a class="btn btn-primary" href="{{ url_for('cart') }}">
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge badge-light">Lleno</span>
                </a>
                {% else %}
                    <a class="btn btn-secondary" href="{{ url_for('cart') }}">
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge badge-light">Vacío</span>
                </a>
                {% endif %}
            </span>
        </div>
        <div class="pt-3 pb-3 col-md-12 aag-bg-gray1 text-center d-block d-sm-block d-md-block d-lg-none d-xl-none">
            {% if session['email'] %}
                <a class="btn btn-primary" href="{{ url_for('accounts') }}">
                    <i class="material-icons">person</i>
                    <span>Ingresar</span>
                </a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('accounts') }}">
                    <i class="material-icons">person</i>
                    <span>Mi Cuenta</span>
                </a>
            {% endif %}
            {% if session['cart'] %}
                <a class="btn btn-primary" href="{{ url_for('cart') }}">
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge badge-light">Lleno</span>
                </a>
            {% else %}
                <a class="btn btn-secondary" href="{{ url_for('cart') }}">
                    <i class="material-icons">shopping_cart</i>
                    <span class="badge badge-light">Vacío</span>
                </a>
            {% endif %}
        </div>
    </div>
    <!--Navigation bar-->
    <div class="row aag-bg-dark aag-shadow">
        <nav class="col navbar navbar-expand-md navbar-dark bg-dark">
            <!--Hmaburger Menu Button-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navigation Menu Items -->
            <div class="collapse navbar-collapse mx-auto" id="navbarNavDropdown">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('catalog') }}">Catálogo de productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contáctenos</a>
                    </li>
                    {% if session['email'] %}
                        <li>
                            <a class="nav-link" href="{{ url_for('logout') }}"><i class="material-icons">exit_to_app</i>Salir</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!--Search Box Input Group-->
            <div class="input-group col-md-3 mx-auto justify-content-center">
                <form class="form-inline text-center" action="{{ url_for('catalog') }}" method="POST">
                    <input type="text" style="width: 180px" name="query" class="form-control" placeholder="Buscar productos...">
                    <input type="hidden" name="_method" value="genericsearch">
                    <button class="btn btn-primary material-icons" type="submit">search</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<!--Main Content Area-->
<div id="main" class="container">
    {% block main %}{% endblock %}
</div>
<!--Footer-->
<div class="container-fluid mt-5 aag-footer aag-bg-blue3 aag-white-text" id="footer">
    <div class="container">
        <div class="row pt-3">
            <div class="col-md">
                <small>© 2018 Auto Air Group, inc</small>
            </div>
            <div class="col-md-2 float-right">
                <a href="https://www.facebook.com/LAP-LAE-Auto-Air-Group-270403163033552/" target="_blank"><img
                        width="50px" src="{{ url_for('static', filename='img/fb_logo.png') }}"></a>
            </div>

        </div>
    </div>
</div>
</body>
</html>