{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-12">
            <h4 class="mb-3">Pago</h4>
            <form action="/charge" method="post">
                <article>
                    <label>
                        <span>Amount is ${{ order['total']/100 }}</span>
                    </label>
                </article>
                <input type="hidden" name="_oid" value="{{ order['oid'] }}">
                <input type="hidden" name="_amount" value="{{ order['total'] }}">
                <input type="hidden" name="_email" value="{{ order['email'] }}">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-description="A Flask Charge"
                        data-amount="{{ order['total'] }}"
                        data-locale="auto"
                        data-email="{{ order['email'] }}">
                </script>
            </form>
        </div>
    </div>
{% endblock %}