{% extends "layout.html" %}
{% block title %}Pago{% endblock %}
{% block main %}
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-12">
            <h4 class="mb-3">Pago</h4>
            <form action="/charge" method="post">
                <article>
                    <label>
                        <span>Usted va a someter un pago de ${{ order['total']/100 }} a Auto Air Group por la mercancía en su carrito.</span>
                        <span><br/>Los pagos son procesados por Stripe.</span>
                    </label>
                </article>
                <input type="hidden" name="_oid" value="{{ order['oid'] }}">
                <input type="hidden" name="_amount" value="{{ order['total'] }}">
                <input type="hidden" name="_email" value="{{ order['email'] }}">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ key }}"
                        data-name="Auto Air Group Corp"
                        data-label="Pagar con tarjeta"
                        data-image="url_for('static', filename='img/logo.png')"
                        data-description="Order:{{ order['oid'] }}"
                        data-amount="{{ order['total'] }}"
                        data-locale="auto"
                        data-panel-label="Pagar"
                        data-email="{{ order['email'] }}"
                        data-zip-code="true">
                </script>
            </form>
        </div>
    </div>
{% endblock %}
