{% extends "layout.html" %}
{% block title %}Pago No Completado{% endblock %}
{% block main %}
    <div class="jumbotron text-xs-center">
        <h1 class="display-3">!Su pago no fue aceptado!</h1>
        <p class="lead"><strong>Favor de volver al carrito e intentar nuevamente</strong>.</p>
        <hr>
        <p>
            ¿Confrontando problemas? <a href="">Contactenos</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="https://autoair.io/cart" role="button">Ir al carrito</a>
        </p>
    </div>
{% endblock %}
