<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Recibo de Orden [{{ orders['orderid'] }}]</title>
</head>
<body>
<div class="col-md">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">Completadas:
            <span><strong></strong></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Pendientes:
            <span><strong></strong></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Sin Enviar:
            <span><strong></strong></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Canceladas:
            <span><strong></strong></span></li>
    </ul>
</div>
</body>
</html>