{% extends "layout.html" %}
{% block title %}Mi Cuenta{% endblock %}
{% block main %}
    <!--User Session Box Box-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-lg-12 aag-border-bottom">
            <h4>Iniciar Sesión</h4>
        </div>
        <div class="col-lg-6 mx-auto">
            {% if message == 'user_exists' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> Ya existe un usuario con el email que utilizó.
                </div>
            {% elif message == 'invalid_email' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> Se utilizaron incorrectos o hay algún campo vacío.
                </div>
            {% elif message == 'login_fail' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> El email o la constraseña no son validos.
                </div>
            {% elif message == 'invalid_password' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> La contraseña que utilizó no cumple con lo siguiente:
                    <ul>
                        <li>Mínimo de 8 caracteres y máximo de 15.</li>
                        <li>Al menos una letra mayúscula.</li>
                        <li>Al menos una letra minúscula.</li>
                        <li>Uno de estos caracteres especiales: @, #, $, %, *, ?, !</li>
                    </ul>
                </div>
            {% endif %}
            <form method="POST">
                <div class="form-group">
                    <label for="email">Correo electrónico</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo electrónico"
                           oninvalid="this.setCustomValidity('Entre el correo electrónico asociado a su cuenta.')"
                           oninput="setCustomValidity('')" required>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña"
                           oninvalid="this.setCustomValidity('Entre su contraseña.')" oninput="setCustomValidity('')"
                           required>
                    <a href="{{ url_for('requestUser') }}">Recuperar contraseña</a>
                </div>
                <input type="hidden" name="_method" value="LOG_IN">
                <button class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
        <div class="col-lg-12 mt-4 aag-border-bottom text-center">
            Si no tiene una cuenta con Auto Air Group, puedes registrarte utilizando el botón de abajo.
        </div>
        <div class="text-center col-12 mt-3 pb-3">

            <span class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
                  aria-expanded="false"
                  aria-controls="collapseExample">
                Crear una cuenta nueva
            </span>
        </div>
        <div class="collapse col-md-6 mx-auto" id="collapseExample">
            <h5>Complete el formulario para registrarse</h5>
            <div class="card card-body">
                <form action="{{ url_for('accounts') }}" method="POST">
                    <div class="form-group">
                        <label for="first-name">Nombre</label>
                        <input type="text" class="form-control" id="first-name" name="first_name"
                               placeholder="Nombre" oninvalid="this.setCustomValidity('Entre su nombre.')"
                               oninput="setCustomValidity('')" required>
                    </div>
                    <div class="form-group">
                        <label for="last-name">Apellido</label>
                        <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Apellido"
                               oninvalid="this.setCustomValidity('Entre su apellido.')" oninput="setCustomValidity('')"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Correo electrónico"
                               oninvalid="this.setCustomValidity('Entre su correo electrónico.')"
                               oninput="setCustomValidity('')" required>
                        <small class="text-muted">El correo electrónico servirá como su nombre de usuario.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Contraseña"
                               oninvalid="this.setCustomValidity('Entre una constraseña con al menos: 1 letra mayúscula, 1 número, y 1 caracter especial (@, #, $, %, *, ?, !).')"
                               oninput="setCustomValidity('')" required>
                        <small class="text-muted">Mínimo de 8 caracteres y un máximo de 15. Al menos: 1 letra mayúscula,
                            1 número, y 1
                            caracter especial (@, #, $, %, *, ?, !)
                        </small>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                               oninvalid="this.setCustomValidity('Debe aceptar los términos y condiciones y la declaración de privacidad.')"
                               oninput="setCustomValidity('')" required>
                        <label class="form-check-label" for="exampleCheck1">He leído y acepto los <a
                                href="{{ url_for('tos') }}" target="_blank">Términos y condiciones</a> y la <a
                                href="{{ url_for('privacy') }}" target="_blank">Declaración de privacidad</a></label>
                    </div>
                    <input type="hidden" name="_method" value="CREATE_USER">
                    <input type="hidden" name="user" value="customer">
                    <button class="btn btn-primary">Completar registro</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}