{% extends "layout.html" %}
{% block title %}{{ user['user_fname'] }} {{ user['user_lname'] }}{% endblock %}
{% block main %}
    <!--Search Box Advanced-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-md-12 aag-border-bottom">
            <h4>Hola, {{ user['user_fname'] }} {{ user['user_lname'] }}!</h4>
        </div>
        <!--Car year selection-->
        <div class="col-md-2 list-group">
            <a href="{{ url_for('accounts') }}/user/{{ user['user_email'] }}"
               class="list-group-item list-group-item-action">Mis Compras</a>
            <a href="{{ url_for('accounts') }}/user/{{ user['user_email'] }}/edit"
               class="list-group-item list-group-item-action">Editar Perfil</a>
        </div>
        <div class="col-md pl-3">
            <h5>Mis Compras</h5>
            {% if not orders=='no_orders' %}
                <table class="table table-responsive-md table-striped">
                    <thead>
                    <tr>
                        <th scope="col">No. de Orden</th>
                        <th scope="col">Total</th>
                        <th scope="col">Pago</th>
                        <th scope="col">Estatus de envío</th>
                        <th scope="col">Fecha</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orders %}
                        <tr>
                            <th scope="row">
                                <a href="{{ url_for('userOrderReceipt', email=user['user_email'], oid=item['orderid']) }}" target="_blank"> {{ item['orderid'] }}</a>
                                <br/><span class="text-muted"><small>Oprima para ver recibo.</small></span>
                            </th>
                            <td>${{ item['total'] }}</td>
                            {% if item['payment_status'] == 'complete' %}
                                <td>Completado</td>
                            {% elif item['payment_status'] == 'pending' %}
                                <td>Pendiente</td>
                            {% elif item['payment_status'] == 'canceled' %}
                                <td>Cancelado</td>
                            {% endif %}
                            {% if item['shipping'] == 'shipped' %}
                                <td>Enviado</td>
                            {% elif item['shipping'] == 'not_shipped' %}
                                <td>No enviado</td>
                            {% endif %}
                            <td>{{ item['date'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Usted no tiene ordenes para mostrar.
            {% endif %}
        </div>
    </div>
{% endblock %}