{% extends "layout.html" %}
{% block title %}My Account{% endblock %}
{% block main %}
    <!--User Session Box Box-->
    <div class="row mt-3 bg-white p-4 aag-shadow">
        <div class="col-lg-12 aag-border-bottom">
            <h4>Access your account!</h4>
        </div>
        <div class="col-lg-6 mx-auto">
            {% if message == 'user_exists' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> Ya existe un usuario con el email que utilizó.
                </div>
            {% elif message == 'invalid_email' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> Se utilizaron incorrectos o hay algún campo vacío.
                </div>
            {% elif message == 'invalid_password' %}
                <div class="alert alert-danger" role="alert">
                    <strong>Error:</strong> La contraseña que utilizó no cumple con lo siguiente:
                    <ul>
                        <li>Mínimo de 8 caracteres y máximo de 15.</li>
                        <li>Al menos una letra mayúscula.</li>
                        <li>Al menos una letra minúscula.</li>
                        <li>Uno de estos caracteres especiales: @, #, $, %, *, ?, !</li>
                    </ul>
                </div>
            {% endif %}
            <form action="{{ url_for('accounts') }}" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    <a href="#">Recover Lost Password</a>
                </div>
                <input type="hidden" name="_method" value="LOG_IN">
                <button class="btn btn-primary">Sign In</button>
            </form>
        </div>
        <p class="justify-content-center col-12 mt-3 pb-3 aag-border-bottom">

            <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false"
                    aria-controls="collapseExample">
                Create new Account!
            </button>
        </p>
        <div class="collapse col-md-6 mx-auto" id="collapseExample">
            <h5>Register Below!</h5>
            <div class="card card-body">
                <form action="{{ url_for('accounts') }}" method="POST">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" name="first_name"
                               placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        <small class="text-muted">This will also be your username.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                        <small class="text-muted">Minimum of 8 characters. At least: 1 uppercase, 1 number, and 1
                            special character (@, #, $, %,
                            *, ?, !)
                        </small>
                    </div>
                    <input type="hidden" name="_method" value="CREATE_USER">
                    <input type="hidden" name="user" value="customer">
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}